@{
    var page = (int)ViewData["page"];
    var size = (int)ViewData["size"];
    var orderBy = (string)ViewData["orderBy"];
    var direction = (string)ViewData["direction"];
    var pages = (int)ViewData["pages"];
}

@section head {
    <link rel="stylesheet" href="~/css/videos-list.css" asp-append-version="true" / >   
}

<div id="controls">
    <input id="search" type="text" placeholder="Search..">
    <select id="select" class="form-select">
        <option>Id</option>
        <option>Name</option>
        <option>Total time</option>
    </select>
    <a class="btn btn-small btn-success" asp-action="Create">New</a>

    <div class="btn-group">
        @for (var i = 0; i <= pages; i++)
        {
            var currClass = page == i ? "btn-primary" : "btn-outline-primary";

            <a asp-action="Index"
               asp-route-page="@i"
               asp-route-size="@size"
               asp-route-orderBy="@orderBy"
               asp-route-direction="@direction"
               data-page="@i"
               class="pager-btn btn @currClass">@(i + 1)</a>
        }
    </div>
</div>

<div id="videos-container">
    <partial name="_PartialVideoEntry" />
</div>

@section Scripts {
    <script>
        $(".pager-btn").click(function (event) {
            event.preventDefault();
            var page = $(this).data("page");

            var ajaxData = {
                page: page,
                size: @size,
                orderBy: "@orderBy",
                direction: "@direction"
            };

            $.ajax({
                type: "GET",
                url: "@Url.Action("PartialVideos", "Videos")",
                data: ajaxData,
                success: function (data) {
                    $("#videos-container").html(data);

                    $(".pager-btn").removeClass("btn-primary");
                    $(".pager-btn").addClass("btn-outline-primary");

                    $(".pager-btn[data-page=" + page + "]").removeClass("btn-outline-primary");
                    $(".pager-btn[data-page=" + page + "]").addClass("btn-primary");
                },
                error: function (data) {
                    console.error("Ajax GET error", data);
                }
            });
        });
    </script>
}


